/* Conteneur principal */
.register-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

/* Encadré d'inscription */
.register {
    width: 40vw;
    max-width: 400px;
    padding: 2vh;
    background-color: #f0f0f0;
    border-radius: 2vh;
    box-shadow: 0.2vw 0.2vw 1vw rgba(0, 0, 0, 0.1);
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Titre */
.register h2 {
    font-size: 2rem;
    color: #c62828;
    margin-top: 1vh;
    margin-bottom: 3vh;
}

/* Message d'erreur */
.error {
    color: red;
    font-size: 1rem;
    margin-bottom: 2vh;
}

/* Formulaire */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vh;
}

/* Champs de saisie */
input {
    width: 95%;
    padding: 1.5vh;
    font-size: 1rem;
    border: 0.2vh solid #ccc;
    border-radius: 1vh;
}

/* Bouton de validation */
button {
    background-color: #c62828;
    color: white;
    border: none;
    padding: 1.5vh;
    font-size: 1.2rem;
    border-radius: 1vh;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

/* Effet au survol */
button:hover {
    background-color: #a61919;
    transform: scale(1.05);
}

.login-section {
    width: 40vw;
    max-width: 400px;
    text-align: center;
    margin-top: 2vh;
}

/* Bouton retour connexion */
.login-text {
    font-size: 1rem;
    color: #333;
    margin-bottom: 1vh;
}

.login-button {
    background-color: white;
    color: #c62828;
    border: 2px solid #c62828;
    padding: 1.5vh;
    font-size: 1rem;
    border-radius: 1vh;
    cursor: pointer;
    transition: background 0.3s, color 0.3s, transform 0.2s ease-in-out;
    width: 80%;
}

/* Effet au survol */
.login-button:hover {
    background-color: #c62828;
    color: white;
    transform: scale(1.05);
}

/* Tablettes */
@media (max-width: 1024px) {
    .register {
        width: 50vw;
    }
}

/* Téléphones */
@media (max-width: 768px) {
    .register {
        width: 60vw;
    }
}

/* Petits écrans */
@media (max-width: 480px) {
    .register {
        width: 80vw;
    }
}